@model IEnumerable<Z_ERP.Models.sal_Sales>




<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

    <style>
        span.field-validation-error {
            color: red;
        }

        th {
            text-align: right !important;
        }


        div.dt-buttons {
            float: left;
            margin-bottom: 20px;
        }
    </style>
</head>
<body>
    <div class="row">



        <div class="col-lg-9" style="margin-bottom:20px"> <h1>  تقرير تجميعي للمبيعات   </h1> </div>


        <div class="col-lg-3">

            <div class="float-left" style="padding-right: 0; float:left">

                <div id="reportrange" name="reportrange" style="font-size: 10px; background: #fff; cursor: pointer; padding: 10px 10px; border: 1px solid #ccc; font-weight: bold;    height: 35px;">
                    <i class="fa fa-calendar"></i>&nbsp;
                    <span></span> <i class="fa fa-calendar"></i>
                </div>


            </div>

        </div>
        <div class="clearfix"></div>


    </div>


    <div class="col-lg-10">

        <div class="box box-success tablecontainer">
            <div class="box-header with-border">

                <div class="box-tools pull-right">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                </div><!-- /.box-tools -->
            </div><!-- /.box-header -->
            <div class="box-body">


                <div class="col-lg-12" style="background:">
                    <table id="myDatatable" class="table  table-bordered table-striped">
                        <thead style="background:#00a65a;color:white">

                            <tr>
                                <th>الصنف</th>
                                <th>السعر الكلي </th>
                               
                                
                            </tr>

                        </thead>
                        <tbody></tbody>


                    </table>

                </div>
            </div>
        </div>
    </div>


    </div>



    @section Scripts
{
        <script>
        $(document).ready(function () {


            $('#myDatatable tbody').on('click', 'tr', function () {
                $(this).toggleClass('selected');
            });

            var table = $('#myDatatable').DataTable();

            $('#button').click(function () {
                alert(table.rows('.selected').data().length + ' row(s) selected');
            });

            var start = moment();
            var end = moment();
            var newStar = start.format('YYYY-MM-DD');
            var newEnd = start.format('YYYY-MM-DD');
            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);

            //  DateRang Script


            function GetSalesExpenses(DateFrom, DateTo) {

                $('#myDatatable').DataTable({


                    "bDestroy": true,
                    "ajax": {

                        "url": '/SalesGatheringReport/SalesGatherReports?DateFrom=' + DateFrom + '&DateTo=' + DateTo,

                        "type": "GET",
                        "datatype": "JSON"
                    },
                    //"dom": 'RBfrtip',
                    //"buttons": [
                    //'excel', 'pdf', 'print'
                    //],
                    "columns": [
                        { "data": "ItemName", "autoWidth": true },
                      
                        { "data": "ItemTotalSaleAmount", "autoWidth": true },
                        
                    ]


                  , "oLanguage": {

                      "sEmptyTable": "ليست هناك بيانات متاحة في الجدول",
                      "sLoadingRecords": "جارٍ التحميل...",
                      "sProcessing": "جارٍ التحميل...",
                      "sLengthMenu": "أظهر _MENU_ مدخلات",
                      "sZeroRecords": "لم يعثر على أية سجلات",
                      "sInfo": "إظهار _START_ إلى _END_ من أصل _TOTAL_ مدخل",
                      "sInfoEmpty": "يعرض 0 إلى 0 من أصل 0 سجل",
                      "sInfoFiltered": "(منتقاة من مجموع _MAX_ مُدخل)",
                      "sInfoPostFix": "",
                      "sSearch": "ابحث:",
                      "sUrl": "",
                      "oPaginate": {
                          "sFirst": "الأول",
                          "sPrevious": "السابق",
                          "sNext": "التالي",
                          "sLast": "الأخير"
                      },
                      "oAria": {
                          "sSortAscending": ": تفعيل لترتيب العمود تصاعدياً",
                          "sSortDescending": ": تفعيل لترتيب العمود تنازلياً"
                      }

                  }

                });

                //$('#myDatatable_length').css('margin', '20px 0 20px 0');
                $('#myDatatable_filter').css('margin', '0 0 20px 0');


            }





         //##########  Call Functions ############## //

            // Page Load Event
            
            GetSalesExpenses(newStar, newEnd);

            // Date Change Event
            $('#reportrange').on('apply.daterangepicker', function (ev, picker) {

                newStar = picker.startDate.format('YYYY-MM-DD');
                newEnd = picker.endDate.format('YYYY-MM-DD');
                GetSalesExpenses(newStar, newEnd);

            });


        //##########  Call Functions ############## //



        });

        </script>


    }
</body>
</html>
