@model Z_ERP.Models.inv_Inventory
@{
    ViewBag.Title = "Index";
    //Layout = null;
}



<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="~/resources/dist/css/bootstrap-rtl.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/jquery.dataTables.min.css" />
    <link href="~/resources/plugins/jQuery/jquery-ui.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.8/css/select2.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }

          th {
            text-align: right !important;
        }
    </style>
</head>
<body>
    <div class="row">
        <div class="col-lg-8">
            <p style="display:none" id="InvertoryID">@Html.DisplayFor(modelItem => Model.InvertoryID);</p>

            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">بيانات المحزن</h3>
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table class="table table-bordered">

                        <tbody>
                            <tr>
                                <th style=""> اسم المخزن</th>
                                <td> @Html.DisplayFor(modelItem => Model.InvertoryNameAr)</td>

                            </tr>


                            <tr>
                                <th> العنوان</th>

                                <td> @Html.DisplayFor(modelItem => Model.InvertoryAddressAr)</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
 
        <div class="modal fade" id="modal"   role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header" id="category-modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="category_modal-title">  بيانات المنتج</h4>
                    </div>

                    <div class="modal-body" id="modal-body">

                        <h2>  </h2>
                    </div>


                    <div class="modal-footer" id="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">خروج</button>
                        <button type="button" class="btn btn-primary save-roles pull-right" id="modal-btn-save">Save changes</button>
                       
                         
                    </div>
                </div>
            </div>
        </div>
 
        <div class="col-lg-12">
            <p style="display:none" id="InvertoryID">@Html.DisplayFor(modelItem => Model.InvertoryID);</p>

            <div class="box box-success tablecontainer"  >
                <div class="box-header with-border">
                    <a id="edit" class="box-title popup btn btn-success addItem"  href="/Items/Save/0" title="صنف جديد" style="">إضافة منتج   <i class="fa fa-plus" aria-hidden="true"></i> </a>
                 
                    <div class="box-tools pull-right">
                        <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body">

                    
                    <div class="col-lg-12" style="background:">
                        <table id="myDatatable" class="table  table-bordered table-striped">
                            <thead style="background:#00a65a;color:white">

                                <tr>
                                    <th>الاسم</th>
                                    <th>الكمية</th>
                                    <th>سعر الشراء</th>
                                    <th>سعر البيع</th>   
                                    <th> تاريخ  الانتهاء</th>                                
                                    <th>   توريدة</th>
                                    
                                    <th>   </th>

                                </tr>

                            </thead>
                            <tbody></tbody>

                        </table>

                    </div>
                    </div>
            </div>
        </div>


    </div>


   
    @section Scripts
{
         
   
    

    <script>
        $(document).ready(function () {



            var oTable = $('#myDatatable').DataTable({
                "ajax": {
                    "url": '/Items/GetItemsData',
                    "type": "GET",
                    "datatype": "JSON"
                },

                
 
                "columns": [

                    { "data": "ItemNameAr", "autoWidth": true },
                    { "data": "ItemQuantity", "autoWidth": true },
                    { "data": "ItemSalePrice", "autoWidth": true },
                    { "data": "ItemPuchasePrice", "autoWidth": true },

                     {
                         "data": "ItemExpiredDate",  "render": function (data) {
                             return moment(data).format("MM-DD-YYYY");
                         }
                     },
 


                     {
                         "data": "ItemID", "width": "120px", "render": function (data) {
                             return '<a class="popup btn btn-success" id="purchases"  href="/Items/UpdateQuantity/' + data + '">توريدة</a> ';
                         }
                     },

                    {
                        "data": "ItemID", "width": "150px", "render": function (data) {
                            return '<a class="popup btn btn-success addItem edit" id="edit" title=" تعديل"  href="/Items/Save/' + data + '">تعديل</a> ' + '<a  id="delete" class="popup  btn-delete btn btn-danger  " href="/Items/Remove/' + data + '">مسح</a>';
                        }
                    },


                ]
                  , "oLanguage": {
                      "sSearch": "<span> بحث:</span> _INPUT_" //search
                  }
            })

            $('body').on('click', '#edit', function (event) {

                event.preventDefault();

                var me = $(this),
                    url = me.attr('href'),
                    $title = me.attr('title');

                $('#modal-title').text($title);
                $('#modal-btn-save').removeClass('hide');
                $('#modal-btn-save').text(me.hasClass('edit') ? 'تاكيد العملية' : 'تاكيد العملية');

                $.ajax({
                    url: url,
                    dataType: 'html',
                    success: function (response) {
                        $('#modal-body').html(response);
                    }
                });
                $('#modal').modal('show');

            });

            $('body').on('click', '#delete', function (event) {

                event.preventDefault();

                var me = $(this),
                    url = me.attr('href'),
                    $title = me.attr('title');

                $('#modal-title').text($title);
                $('#modal-btn-save').removeClass('hide');
                $('#modal-btn-save').text(me.hasClass('edit') ? 'Update' : 'Save');

                $.ajax({
                    url: url,
                    dataType: 'html',
                    success: function (response) {
                        $('#modal-body').html(response);
                    }
                });
                $('#modal').modal('show');

            });

            $('body').on('click', '#purchases', function (event) {

                event.preventDefault();

                var me = $(this),
                    url = me.attr('href'),
                    $title = me.attr('title');

                $('#modal-title').text($title);
                $('#modal-btn-save').removeClass('hide');
                $('#modal-btn-save').text(me.hasClass('edit') ? 'Update' : 'Create');

                $.ajax({
                    url: url,
                    dataType: 'html',
                    success: function (response) {
                        $('#modal-body').html(response);
                    }
                });
                $('#modal').modal('show');

            });

            

            $('#modal-btn-save').click(function (event) {

                event.preventDefault();
                var form = $('#modal-body form'),
                  url = form.attr('action'),
                  method = 'POST';

                form.find('.help-block').remove();
                form.find('.form-group').removeClass('has-error');
                $.ajax({
                    url: url,
                    method: method,
                    data: form.serialize(),
                    success: function (response) {


                        //  form.trigger('reset');
                        $('#modal').modal('hide');
                        $('#myDatatable').DataTable().ajax.reload();
                        swal({
                            type: 'success',
                            title: 'نجاح',
                            text: ' تم اكمال العملية'
                        });
                    },
                    error: function (xhr) {
                        var res = xhr.responseJSON;

                        if ($.isEmptyObject(res) == false) {
                            $.each(res.errors, function (key, value) {
                                $('#' + key)
                                    .closest('.form-group')
                                    .addClass('has-error')
                                    .append('<span class="help-block"> <strong>' + value + ' </strong>  </span>  ')
                            });

                        }



                    }
                })

            });



        });
       
    </script>


    }
</body>
</html>